<div>
    <p class="p">Correct Answers</p>
</div>

<textarea class="textarea1" name="question1" readonly>{{contextQuestion.questions[0]}}</textarea>
<textarea class="textarea1" name="answer1" readonly>{{correctAnswers[0]}}</textarea>
<br><br><br>
<textarea class="textarea1" name="question2" readonly>{{contextQuestion.questions[1]}}</textarea>
<textarea class="textarea1" name="answer2" readonly>{{correctAnswers[1]}}</textarea>
<br><br><br>
<textarea class="textarea1" name="question3" readonly>{{contextQuestion.questions[0]}}</textarea>
<textarea class="textarea1" name="answer3" readonly>{{correctAnswers[2]}}</textarea>
