.button {
    background-color : #0b441e;
    border : none;
    color : white;
    padding : 15px 32px;
    text-align : center;
    display : inline-block;
    font-size : 20px;
    margin : 4px 2px;
    cursor : pointer;
}

.p {
    height : 60px; 
    padding-left : 10px;
    padding-top : 15px; 
    color : white; 
    font-size: 30px;
}

.input {
    border-style : outset; 
    font-size: 20px; 
    height : 45px; 
    width : 100%
}

.button1 {
    
    padding : 1em;
    text-align : center;
    display : inline-block;
    font-size : 25px;
    margin : 0 auto;
    text-decoration: none !important;
}

.container {
    width : 100%;
    text-align: center;
    color: white;
}

.label {
    color: white;
    padding: 8px;
    font-size: 20px;
}

.other {
    background-color: #ffffff;
    color: rgb(112, 108, 108);
    border-style: outset;
    border-color: #e4e1e1;
}

.body {
    background-image: url("../../assets/0jsAvl.jpg");
}
