<p class = "p">Login to procedure</p>
<form>
    <input class = "input" type="text" [(ngModel)] = "user1.username" name="username" placeholder="Username* " required/> <br>
    <br>
    <br>   
    <input class = "input" type="password" [(ngModel)] = "user1.password" name="password" placeholder="Password*" required/> <br> 
    <br>
    <br>
    
    <select id="role" name="role" [(ngModel)]="user1.role" required>
        Role*
        <option value="admin">Admin</option>
        <option value="student">Student</option>
    </select><br>
    <br>
    <br>
    <button (click) = "login()" class="button">Login</button>
    <hr>
    <div class = "link container">
        <a routerLink= "/register" routerLinkActive="active" class="button1">Create an account</a>
    </div>
</form>
<!--<button (click) = "login()" class="button1">Sign Up</button>-->

<router-outlet></router-outlet>
