<body class="body">
<p class = "p">Login to procedure</p>
 <form ngNativeValidate>
    <input id="username" class = "input" type="text" [(ngModel)] = "user.username" name="username" placeholder="Username*" required/> <br>
    <br><br>   
    <input class = "input" type="password" [(ngModel)] = "user.password" name="password" placeholder="Password*" required/> <br> 
    <br><br>
    
    <label for="Role" class="label other">Role*</label><br><br>

    <select id="role" name="role" [(ngModel)]="user.role" required>
        <option value="admin">Admin</option>
        <option value="student">Student</option>
    </select><br>
    <br><br>
    <button id="submit" (click) = "login()" class="button">Login</button>
    <hr>
    <div class = "link container">
        <a style="color: white;" routerLink= "/register" routerLinkActive="active" class="button1">Create new account</a>
    </div>
 </form>


<router-outlet></router-outlet>
</body>