.p { 
    height : 60px; 
    padding-left : 10px;
    padding-top : 15px; 
    color : white; 
    font-size: 30px;
}

.input {
    border-style : outset; 
    font-size: 20px; 
    height : 45px; 
    width : 100%
}

.button {
    background-color : #155b5e;
    border : none;
    color : white;
    padding : 15px 32px;
    text-align : center;
    display : inline-block;
    font-size : 20px;
    margin : 4px 2px;
    cursor : pointer;
}

.label {
    color: white;
    padding: 8px;
    font-size: 20px;
}

.other {
    background-color: #ffffff;
    color: rgb(112, 108, 108);
    border-style: outset;
    border-color: #ebe8e8;
}

.body {
    background-image: url("../../assets/register.jpg");
}

.a {
    text-align : right; 
    font-size: 20px;
    color : white;
    padding-left: 70%;
}